:host {
  width: 200px;
  height: 300px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  border: 1px solid #eee;
  border-radius: 6px;
  background: #fbfbfb;
  .product-photo {
    width: 100%;
    height: 228px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

  }
  .product-content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .product-name {
      font-weight: bold;
      font-size: 13px;
    }
    .product-description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 11px;
    }
    .product-price {
      font-size: 13px;
      margin-top: 5px;
      font-weight: bold;
      color: #0300b3;
    }

  }
}
